<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- all meta -->
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Page Title -->
		<title></title>
		<!-- Favicon Icon -->
    	<link rel="shortcut icon" href="assets/images/favicon.ico" type="image/png">
	  	<!-- All css here -->
	  	<!-- Bootstrap css -->
	  	<link rel="stylesheet" href="assets/plugin/bootstrap/css/bootstrap.min.css">
	  	<!-- fontaweosme css -->
	  	<link rel="stylesheet" href="assets/fonts/fontawesome/css/all.css">
	  	<!-- Flaticon css -->
	  	<link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">
	  	<!-- slick slider css -->
	  	<link rel="stylesheet" href="assets/plugin/slick/slick.css">
	  	<link rel="stylesheet" href="assets/plugin/slick/slick-theme.css">
	  	<!-- magnific css -->
	  	<link rel="stylesheet" href="assets/plugin/magnific/magnific-popup.css">
	  	<!-- jquery-ui css -->
	  	<link rel="stylesheet" href="assets/plugin/jquery_ui/jquery-ui.css">
	  	<!-- nice_select css -->
	  	<link rel="stylesheet" href="assets/plugin/nice_select/nice-select.css">
	  	<!-- nice_select css -->
	  	<link rel="stylesheet" href="assets/plugin/sidebar_menu/sidebar-menu.css">
	  	<!-- Style css -->
	  	<link rel="stylesheet" href="assets/css/style.css">
	  	<!-- Responsive css -->
	  	<link rel="stylesheet" href="assets/css/responsive.css">
	</head>
	<body>
		<!-- Start search wrapper -->
		<div class="search_wrapper">
			<a href="#" class="close_link"><i class="fas fa-times"></i></a>
			<form>
				<input type="text" class="form_control" placeholder="search here">
			</form>
		</div>
		<!-- End search wrapper -->
		<!-- Start preloader area -->
		<div class="preloader_area">
			<div class="spinner">
			  	<div class="line1"></div>
			  	<div class="line2"></div>
			  	<div class="line3"></div>
			  	<div class="line4"></div>
			  	<div class="line5"></div>
			  	<div class="line6"></div>
			  	<div class="line7"></div>
			</div>
		</div>
		<!-- End preloader area -->
		<!-- Start header_top_bar area -->
		<div class="header_top_bar">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="top_left">
							<a href="tel:123456789"><i class="fas fa-phone-alt"></i>Call us at 123-456-789</a>
							<a href="mailto:Demo@Exmoplgain.com"><i class="fas fa-envelope"></i>Demo@Exmoplgain.com</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="top_right">
							<p><a href="#">login</a>/<a href="#">Register</a></p>
						</div>
					</div>
				</div>
			</div>
		</div><!-- End header_top_bar area -->
		<!-- Start header_area area -->
		<header class="header_area header_v1">
			<div class="container">
				<div class="site_menu">
					<div class="row align-items-center">
						<div class="col-lg-2">
							<div class="site_logo">
								<a href="index.html"><img src="assets/images/logo_1.png" alt=""></a>
							</div>
						</div>
						<div class="col-lg-10">
							<div class="primary_menu">
								<nav class="main_menu">
									<ul>
										<li><a href="index.html">Home</a>
											<ul class="sub-menu">
												<li><a href="index.html">Home v1</a></li>
												<li><a href="home_v2.html">Home v2</a></li>
												<li><a href="home_v3.html">Home v3</a></li>
											</ul>
										</li>
										<li><a href="course.html">Course</a>
											<ul class="sub-menu">
												<li><a href="course.html">course</a></li>
												<li><a href="single_course.html">Course Details</a></li>
											</ul>
										</li>
										<li><a href="#">Pages</a>
											<ul class="sub-menu">
												<li><a href="about.html">About us</a></li>
												<li><a href="team.html">Our Team</a></li>
												<li><a href="event.html">Event</a></li>
												<li><a href="single_event.html">Event Details</a></li>
											</ul>
										</li>
										<li><a href="#">News</a>
											<ul class="sub-menu">
												<li><a href="blog.html">News</a></li>
												<li><a href="single_blog.html">News Details</a></li>
											</ul>
										</li>
										<li><a href="contact.html">Contact</a></li>
										<li class="search"><a href="#" class="search_btn"><i class="fas fa-search"></i></a></li>
									</ul>
								</nav>
							</div>
						</div>
					</div>
				</div>
				<!-- mobile_wrapper -->
				<div class="mobile_wrapper">
					<div class="row align-items-center">
						<div class="col-lg-6 col-6">
							<div class="brand_logo">
								<a href="index.html"><img src="assets/images/logo_1.png" class="img-fluid" alt=""></a>
							</div>
						</div>
						<div class="col-lg-6 col-6">
							<div class="mobile_menu">
								<ul>
									<li><a href="#" class="menu_icon"><i class="fas fa-bars"></i></a></li>
									<li><a href="#" class="search_btn"><i class="fas fa-search"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="sidenav_menu">
						<div class="close_icon">
							<a href="#" class="close_btn"><i class="fas fa-times"></i></a>
						</div>
						<ul class="sidebar-menu">
							<li class="menu-item-has-children"><a href="index.html">Home</a>
								<ul class="sub-menu">
									<li><a href="index.html">Home v1</a></li>
									<li><a href="home_v2.html">Home v2</a></li>
									<li><a href="home_v3.html">Home v3</a></li>
								</ul>
							</li>
							<li class="menu-item-has-children"><a href="course.html">Course</a>
								<ul class="sub-menu">
									<li><a href="course.html">course</a></li>
									<li><a href="single_course.html">Course Details</a></li>
								</ul>
							</li>
							<li class="menu-item-has-children"><a href="#">Pages</a>
								<ul class="sub-menu">
									<li><a href="about.html">About us</a></li>
									<li><a href="team.html">Our Team</a></li>
									<li><a href="event.html">Event</a></li>
									<li><a href="single_event.html">Event Details</a></li>
								</ul>
							</li>
							<li class="menu-item-has-children"><a href="#">News</a>
								<ul class="sub-menu">
									<li><a href="blog.html">News</a></li>
									<li><a href="single_blog.html">News Details</a></li>
								</ul>
							</li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div><!-- mobile_wrapper -->
			</div>
		</header><!-- End header_area area -->
		<!-- Start hero_bg section -->
		<section class="hero_bg hero_v3 bg_image" style="background-image: url(assets/images/hero_bg1.jpg);">
			<div class="bg_overlay"></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-10">
						<div class="banner_content text-center">
							<div class="domar_content_box">
								<h1>Education and YouTraining Organization Anything</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod t incididunt<br>ut labore et dolore magna aliqua Ut enim ad minim</p>
							</div>
							<div class="domar_button">
								<a href="#" class="domar_btn active_btn">APPLY NOW</a>
								<a href="#" class="domar_btn"><i class="fas fa-location-arrow"></i>Join Us on Telegram</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- End hero_bg section -->
		<!-- Start domar_why_choose section -->
		<section class="domar_why_choose why_choose_v1 why_choose_v2">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="domar_img_box">
							<div class="domar_img">
								<img src="assets/images/choose_2.jpg" class="img-fluid" alt="">
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="domar_content_box">
							<h3>We’ve helped some amazingstartups rebrand, redesignand get to market.</h3>
							<div class="content_list">
								<div class="single_list">
									<div class="list_info">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
									</div>
								</div>
								<div class="single_list">
									<div class="list_info list_2">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
									</div>
								</div>
								<div class="single_list">
									<div class="list_info list_3">
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End domar_why_choose section -->
		<!-- Start domar_appointment section -->
		<section class="domar_appointment appointment_v1 bg_image section_padding" style="background-image: url(assets/images/appointment_bg.jpg);">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-7">
						<div class="section_title text-center">
							<h2>Appointment</h2>
						</div>
						<div class="appointment_form">
							<form>
								<div class="row">
									<div class="col-lg-6">
										<div class="form_group">
											<input type="text" class="form_control" name="name" placeholder="Name" required>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form_group">
											<input type="email" class="form_control" name="email" placeholder="Email" required>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form_group">
											<input type="text" class="form_control" placeholder="Phone No" name="number" required>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form_group">
											<select class="selectoption">
												<option data-display="choose Option">choose Option</option>
												<option>Nothing</option>
												<option>Some option</option>
												<option>Another option</option>
												<option>A disabled option</option>
												<option>Potato</option>
											</select>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form_group">
											<input type="text" class="form_control" placeholder="Pick a Date." name="date" id="datepicker" required>
										</div>
									</div>
									<div class="col-lg-6">
										<div class="form_group">
											<select class="selectoption">
												<option data-display="choose Option">choose Option</option>
												<option>Nothing</option>
												<option>Some option</option>
												<option>Another option</option>
												<option>A disabled option</option>
												<option>Potato</option>
											</select>
										</div>
									</div>
									<div class="col-lg-12">
										<div class="domar_button">
											<button type="submit" class="domar_btn">Get Consultation</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-lg-3 offset-lg-2">
						<div class="domar_button">
							<div class="play_button text-center">
								<a href="https://www.youtube.com/watch?v=HQx5Be9g16U" class="play_btn"><i class="fas fa-play"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End domar_appointment section -->
		<!-- Start event_style_v1 section -->
		<section class="domar_event event_v1 event_v2 section_padding">
			<div class="container">
				<div class="row align-items-end">
					<div class="col-lg-6">
						<div class="section_title">
							<span>View All Events edution</span>
							<h2>Upcoming event</h2>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="domar_button">
							<a href="#" class="domar_btn">Event More</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="event_box">
							<div class="domar_img">
								<img src="assets/images/event_1.jpg" class="img-fluid" alt="">
							</div>
							<div class="event_info">
								<h3><a href="single_event.html">Highways england investigates Kier ‘infla the alleg ations construction</a></h3>
								<p class="meta">
									<span><i class="far fa-clock"></i>08Am - 12Pm</span>
									<span><i class="fas fa-map-marker-alt"></i>187, ChristChurch Road</span>
								</p>
								<p>Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempor incididunt</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="event_list_wrapper">
							<div class="event_box">
								<div class="event_info">
									<a href="#" class="date">20 May 2019,</a>
									<h3><a href="single_event.html">Highways england investigates Kier ‘infla the allegations  construction</a></h3>
									<p class="meta">
										<span><i class="far fa-clock"></i>08Am - 12Pm</span>
										<span><i class="fas fa-map-marker-alt"></i>187, ChristChurch Road</span>
									</p>
								</div>
							</div>
							<div class="event_box">
								<div class="event_info">
									<a href="#" class="date">20 May 2019,</a>
									<h3><a href="single_event.html">Highways england investigates Kier ‘infla the allegations  construction</a></h3>
									<p class="meta">
										<span><i class="far fa-clock"></i>08Am - 12Pm</span>
										<span><i class="fas fa-map-marker-alt"></i>187, ChristChurch Road</span>
									</p>
								</div>
							</div>
							<div class="event_box">
								<div class="event_info">
									<a href="#" class="date">20 May 2019,</a>
									<h3><a href="single_event.html">Highways england investigates Kier ‘infla the allegations  construction</a></h3>
									<p class="meta">
										<span><i class="far fa-clock"></i>08Am - 12Pm</span>
										<span><i class="fas fa-map-marker-alt"></i>187, ChristChurch Road</span>
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End event_style_v1 section -->
		<!-- Start domar_joined section -->
		<section class="domar_joined joined_v2 bg_image" style="background-image: url(assets/images/joined_bg1.jpg);">
			<div class="bg_overlay"></div>
			<div class="container">
				<div class="scholarship_wrpper bg_image" style="background-image: url(assets/images/scholarship_bg.jpg);">
					<div class="bg_overlay"></div>
					<div class="row no-gutters">
						<div class="col-lg-6">
							<div class="domar_box text-center">
								<div class="domar_info">
									<h3>Apply for fall 2019</h3>
									<p>Consectetur adipisicing elit, sed do eiusmod tempor cididunt ut labore et dolore magna aliqua. </p>
									<a href="#" class="domar_btn">Apply Now</a>
								</div>
							</div>
						</div>
						<div class="col-lg-6 no-gutters">
							<div class="domar_box text-center">
								<div class="domar_info">
									<h3>Apply for Scholarship</h3>
									<p>Consectetur adipisicing elit, sed do eiusmod tempor cididunt ut labore et dolore magna aliqua. </p>
									<a href="#" class="domar_btn">Apply Now</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-lg-12">
						<div class="domar_content_box text-center">
							<h2>with us and you are a student?</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut<br>enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex </p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End domar_joined section -->
		<!-- Start domar_testimonial section -->
		<section class="domar_testimonial testimonial_v1 testimonial_v2">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="section_title text-center">
							<span>Our Testimonial</span>
							<h2>What People Say About Us</h2>
						</div>
					</div>
				</div>
				<div class="testimonial_slide_1">
					<div class="testimonial_box">
						<div class="testimonial_img">
							<div class="domar_img">
								<img src="assets/images/client_1.jpg" class="img-fluid" alt="">
							</div>
						</div>
						<div class="testimonial_info">
							<p>Lorem ipsum dolor sit am consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qs nostrud exercitation ullamco laboris nisi ut aliquip ex ea com consequat. Duis aute irure dolor in </p>
							<h6><span>John Doe</span>- Manager @ Brandio</h6>
						</div>
					</div>
					<div class="testimonial_box">
						<div class="testimonial_img">
							<div class="domar_img">
								<img src="assets/images/client_2.jpg" class="img-fluid" alt="">
							</div>
						</div>
						<div class="testimonial_info">
							<p>Lorem ipsum dolor sit am consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qs nostrud exercitation ullamco laboris nisi ut aliquip ex ea com consequat. Duis aute irure dolor in </p>
							<h6><span>John Doe</span>- Manager @ Brandio</h6>
						</div>
					</div>
					<div class="testimonial_box">
						<div class="testimonial_img">
							<div class="domar_img">
								<img src="assets/images/client_1.jpg" class="img-fluid" alt="">
							</div>
						</div>
						<div class="testimonial_info">
							<p>Lorem ipsum dolor sit am consectetur adipisicing elit, sed do eiusmo tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qs nostrud exercitation ullamco laboris nisi ut aliquip ex ea com consequat. Duis aute irure dolor in </p>
							<h6><span>John Doe</span>- Manager @ Brandio</h6>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End domar_testimonial section -->
		<!-- Start domar_blog section -->
		<section class="domar_blog blog_style_v1 section_padding gray_bg">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8">
						<div class="section_title text-center">
							<h2>Latest News</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eius tempor<br>incididunt ut labore et dolore magna aliqua</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="blog_box" style="background-image: url(assets/images/blog_1.jpg);">
							<div class="bg_overlay"></div>
							<div class="blog_info">
								<a href="#" class="date"><i class="fas fa-calendar-alt"></i>August 10, 2019</a>
								<h3><a href="#">Form Design Patterns Book Excerpt Registration</a></h3>
								<a href="#" class="btn_link">Read More</a>
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="blog_list_wrapper">
							<div class="blog_box_2 bg_image" style="background-image: url(assets/images/blog_2.jpg);">
								<div class="bg_overlay"></div>
								<div class="blog_info">
									<a href="#" class="date"><i class="fas fa-calendar-alt"></i>August 10, 2019</a>
									<h3><a href="#">English for Science, Techs & Engineering</a></h3>
								</div>
							</div>
							<div class="blog_box_2 bg_image" style="background-image: url(assets/images/blog_2.jpg);">
								<div class="bg_overlay"></div>
								<div class="blog_info">
									<a href="#" class="date"><i class="fas fa-calendar-alt"></i>August 10, 2019</a>
									<h3><a href="#">Conference, Events and Hospitality Book</a></h3>
								</div>
							</div>
							<div class="blog_box_2 bg_image" style="background-image: url(assets/images/blog_2.jpg);">
								<div class="bg_overlay"></div>
								<div class="blog_info">
									<a href="#" class="date"><i class="fas fa-calendar-alt"></i>August 10, 2019</a>
									<h3><a href="#">Conference, Events and Hospitality Book</a></h3>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End domar_blog section -->
		<!-- Start domar_footer section -->
		<footer class="domar_footer footer_v1 bg_image" style="background-image: url(assets/images/footer_bg1.jpg);">
			<div class="bg_overlay"></div>
			<div class="container">
				<div class="footer_widget_wrapper">
					<div class="row">
						<div class="col-lg-3">
							<div class="widget_box contact_box">
								<div class="widget_title">
									<h4>Get in Touch</h4>
								</div>
								<div class="contact_wrapper">
									<div class="single_contact">
										<div class="list_icon">
											<i class="fas fa-map-marker-alt"></i>
										</div>
										<div class="list_text">
											<p>Mosoiu Street, A Building, 2nd Entrance</p>
										</div>
									</div>
									<div class="single_contact">
										<div class="list_icon">
											<i class="fas fa-phone-alt"></i>
										</div>
										<div class="list_text">
											<p><a href="tel:+800123456789">+1 800 123 4567</a></p>
										</div>
									</div>
									<div class="single_contact">
										<div class="list_icon">
											<i class="fas fa-envelope"></i>
										</div>
										<div class="list_text">
											<p><a href="mailto:example@mail.com"> example@mail.com</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="widget_box">
								<div class="widget_title">
									<h4>Quick Links</h4>
								</div>
								<ul class="widget_link">
									<li><a href="#">Wellness</a></li>
									<li><a href="#">Vintage Stores</a></li>
									<li><a href="#">Trekking</a></li>
									<li><a href="#">Sightseeing</a></li>
									<li><a href="#">Tours</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="widget_box">
								<div class="widget_title">
									<h4>University</h4>
								</div>
								<ul class="widget_link">
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Terms of Service</a></li>
									<li><a href="#">Legal info</a></li>
									<li><a href="#">Knowledge Base</a></li>
									<li><a href="#">GDPR Update</a></li>
								</ul>
							</div>
						</div>
						<div class="col-lg-3">
							<div class="widget_box">
								<div class="widget_title">
									<h4>Working Hours</h4>
								</div>
								<div class="time_slide">
									<div class="single_time">
										<ul>
											<li>Monday <span>10:00 – 11:00</span></li>
											<li>Tusday <span>11:00 – 11:40</span></li>
											<li>Wedesday <span>8:00 – 9:40</span></li>
											<li>Thursday <span>7:50 – 8:40</span></li>
										</ul>
									</div>
									<div class="single_time">
										<ul>
											<li>Monday <span>10:00 – 11:00</span></li>
											<li>Tusday <span>11:00 – 11:40</span></li>
											<li>Wedesday <span>8:00 – 9:40</span></li>
											<li>Thursday <span>7:50 – 8:40</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="footer_copyright">
					<div class="row">
						<div class="col-lg-6">
							<div class="copyright_text">
								<p>Copyright &copy; 2020.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="copyright_link">
								<ul>
									<li><a href="#">About us</a></li>
									<li><a href="#">Service</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Contact Us</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- End domar_footer section -->
		<!-- scroll_top -->
		<a id="scroll_top"><i class="fas fa-angle-up"></i></a>
		<!-- jquery  -->
        <script src="assets/js/vendor/jquery-1.12.4.min.js"></script>
        <!--modernizr js-->
        <script src="assets/js/vendor/modernizr-3.6.0.min.js"></script>
	    <!-- bootstrap js -->
	    <script src="assets/plugin/bootstrap/js/bootstrap.min.js"></script>
	    <!-- Popper js -->
	    <script src="assets/plugin/bootstrap/js/popper.min.js"></script>
	    <!-- slick slider js -->
	    <script src="assets/plugin/slick/slick.min.js"></script>
	    <!-- magnific popup js -->
	    <script src="assets/plugin/magnific/jquery.magnific-popup.min.js"></script>
	    <!-- countdown js -->
	    <script src="assets/plugin/countdown/jquery.countdown.min.js"></script>
	    <!-- jquery ui js -->
	    <script src="assets/plugin/jquery_ui/jquery-ui.min.js"></script>
	    <!-- nice_select js -->
	    <script src="assets/plugin/nice_select/jquery.nice-select.min.js"></script>
	    <!-- sidebar_menu js -->
	    <script src="assets/plugin/sidebar_menu/sidebar-menu.js"></script>
	    <!-- main js -->
	    <script src="assets/js/main.js"></script>
	</body>
</html>