@{
    ViewBag.Title = "Insigths Page";
}
<section class="domar_breadcrumb bg_image" style="background-image: url(/assets/images/breadcrumb_bg.jpg);">
    <div class="bg_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_content text-center">
                    <h2>Insights</h2>
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="active">Insights</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- End domar_breadcrumb section -->
<!-- Start domar_blog section -->
<!--		introcution-->
<div style="margin-top: 40px;margin-bottom:20px;width: 100%">
    <div style="text-align: center;margin-bottom: 0px;width: 80%;margin: 0 auto">
        <p>This part of the MeetPeeps is dedicated to give you some very basic information on loneliness.  It is We hope that it will give you insights into the topic of loneliness.  We provide some ideas about loneliness and some of the research that was done on loneliness.</p>
    </div>
</div>
<!--		What is Loneliness?-->
<div style="margin-bottom: 25px">
    <hr class="style-one">
</div>

<section class="domar_blog blog_v2 section_padding" style="padding:20px">
    <div class="container">
        <div style="margin: 5px">
            <h3 align="center">What is Loneliness?</h3>
        </div>
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="domar_img" style="float: none;display: block;margin-left: auto;margin-right: auto;">
                    <img src="/assets/images/Definition.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div style="text-align: center;margin-bottom: 0px;width: 100%;margin: 0 auto">
                    <p class="text-left">Loneliness is defined as the unpleasant state experienced when there is a discrepancy between the interpersonal relationships one wishes to have, and those that one perceives they currently have (Peplau & Perlman, 1982). To simply put, it means one feels lonely or isolated when one perceives that his or her social relationships are not living up to some expectation. Lonely individuals (like everyone else) need friendships, friends who would take notice of them, understand and empathize with their situation, and provide support when needed. </p>
                </div>
            </div>
        </div>

    </div>
</section>
<!--		Causes of Loneliness-->
<div style="margin-bottom: 25px">
    <hr class="style-one">
</div>

<section class="domar_blog blog_v2 section_padding" style="padding:20px">
    <div class="container">
        <div style="margin: 5px">
            <h3 align="center">Causes of Loneliness</h3>
        </div>
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div style="text-align: center;margin-bottom: 0px;width: 100%;margin: 0 auto">
                    <p class="text-left">Loneliness is a universal phenomenon. It can happen to anyone, regardless of age, culture and race. Young adults, specifically during their transition to university, are highly susceptible to feeling lonely because they are faced with the stress of living away from their families and lacking the previous social from their usual friends (Rubenstein & Shaver, 1982). There are many reasons as to why these young university students feel lonely such as being rejected by others and feeling difficult to blend in. In one study, Japanese university students tend to feel lonely because they could not blend in, feeling out of place, and being rejected by others and on the other hand, Chinese university students tend to feel lonely when they are unable to find other people who share the same interests (Xie, Kawata, Kamimura, & Shibata, 2021).</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="domar_img" style="float: none;display: block;margin-left: auto;margin-right: auto;">
                    <img src="/assets/images/Causes.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

    </div>
</section>

<div style="margin-bottom: 25px">
    <hr class="style-one">
</div>
<!-- Start examples section -->
<section class="domar_blog blog_v2 section_padding" style="padding:20px">
    <div class="container">
        <div style="margin: 5px">
            <h3 align="center">Coping with Loneliness</h3>
        </div>
        <div style="text-align: center;margin-bottom: 0px;width: 70%;margin: 0 auto">
            <p>There are many ways that people react to loneliness. These are called coping strategies. Research (Rubenstein & Shaver, 1982) had shown that there are four main categories of coping strategies</p>
        </div>
        <div class="row justify-content-around" style="margin-top: 10px">
            <div class="col-lg-5 col-md-5 col-sm-12" style="float:left;border: solid 5px;border-color: green;border-radius: 25px;margin-bottom:25px">
                <div class="blog_box">
                    <div style="margin: 5px">
                        <h4 align="center">Social Contact</h4>
                    </div>
                    <div class="domar_img">
                        <img src="/assets/images/Social-Contact.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="domar_info" style="text-align: justify;margin-bottom: 0px">
                        <p>
                            This type of coping strategy suggests people to try to call a friend, going to visit someone or trying to establish some kind of social contact when you have feelings of loneliness. The researchers thought that social contact may be a positive way of dealing with loneliness. People can go out and make some new friends who share the same interests. These can lead to a deeper relationship.
                            MeetPeeps provide the tool for you to join clubs and organization to make new connections.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12" style="float:left;border: solid 5px;border-color: green;border-radius: 25px;margin-bottom:25px">
                <div class="blog_box">
                    <div style="margin: 5px">
                        <h4 align="center">Active Solitude</h4>
                    </div>
                    <div class="domar_img">
                        <img src="/assets/images/ActiveSolitude.jpg" style="width: 100%;height: 100%" class="img-fluid" alt="">
                    </div>
                    <div class="domar_info" style="text-align: justify;margin-bottom: 0px">
                        <p>In this coping strategy, people tend to engage in their active behaviors by doing things that they like such as reading or writing. This is a positive and healthy coping strategy because it distracts the mind from loneliness and direct their energies towards doing something creative or productive.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12" style="float:left;border: solid 5px;border-color: green;border-radius: 25px;margin-bottom:25px">
                <div class="blog_box">
                    <div style="margin: 5px">
                        <h4 align="center">Spending Money</h4>
                    </div>
                    <div class="domar_img">
                        <img src="/assets/images/SpendingMoney.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="domar_info" style="text-align: justify;margin-bottom: 0px">
                        <p>In this coping strategy, people meet new people by getting out of the house and spending their money. The researchers are neutral about this strategy because it can be both a good and bad way of coping with loneliness. When people spend money on things that they do not need or they overspend their money, this strategy can be very unhealthy. The researchers suggested to spend money on things that will cause you to be social with other people or just go out to the malls and look around without spending too much.</p>
                        <!--								<a href="#" class="btn_link">Read More</a>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12" style="float:left;border: solid 5px;border-color: green;border-radius: 25px;margin-bottom:25px">
                <div class="blog_box">
                    <div style="margin: 5px">
                        <h4 align="center">Sad Passivity</h4>
                    </div>
                    <div class="domar_img">
                        <img src="/assets/images/SadPassivity.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="domar_info" style="text-align: justify;margin-bottom: 0px">
                        <p>This coping strategy is the unhealthiest coping strategy. People that uses this strategy engages in activities that amplifies their loneliness instead of relieving it. Examples of the activities are watching TV, sleeping, eating, taking drugs, sitting and thinking and doing nothing. These activities only worsen the loneliness. You have to consciously decide to stop this sad passivity and move onto something more positive. Take it one step at a time, find a new hobby, go out and join a new club, pick up exercising, find something useful to do with your time, something that will make you a better person.</p>
                        <!--								<a href="#" class="btn_link">Read More</a>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End example section -->
<!--		Articles & Publications-->
<div style="margin-bottom: 25px">
    <hr class="style-one">
</div>
<section class="domar_blog blog_v2 section_padding" style="padding:20px">
    <div class="container">
        <div style="margin: 5px">
            <h3 align="center">Articles & Publications</h3>
        </div>
        <div class="row align-items-center justify-content-around" style="margin-bottom: 10px">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="domar_img" style="float: none;display: block;margin-left: auto;margin-right: auto;">
                    <img src="/assets/images/ArticleIcon.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div style="text-align: center;margin-bottom: 0px;width: 100%;margin: 0 auto">
                    <h5 style="text-align: left;margin-bottom: 10px">Student Loneliness: The Role of Social Media Through Life Transitions – Lisa Thomas, Elizabeth Ormea, Finola Kerrigan</h5>
                    <p class="text-left">In this article, the authors report findings from a survey of 510 first year undergraduates across the UK, identifying factors that predict student loneliness, and exploring their social media use. Higher levels of social capital, induction satisfaction, and sense of community are associated with lower levels of loneliness. It is found that there is a negative relationship between the liminal self-measure, and student loneliness. This indicates that students are less likely to experience loneliness throughout the transition to university when they do not censor their previous online identity during the transition. The authors suggested that the use of social media can help students to stay connected to old friends and relationships.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-around" style="margin-bottom: 10px">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div style="text-align: center;margin-bottom: 0px;width: 100%;margin: 0 auto">
                    <h5 style="text-align: left;margin-bottom: 10px">Coping with Loneliness Workbook - Ester R.A. Leutenberg and Dr. John J. Liptak</h5>
                    <p class="text-left">Negative feelings of loneliness can lead to a variety of other health-related concerns and stress-related conditions including heart disease, high blood pressure and stroke. In order to deal successfully with all of the types of loneliness, people must find creative ways of coping. The Coping with Loneliness Workbook provides assessments and self-guided activities to help participants learn useful skills for coping creatively with the various types of loneliness. Many choices of self-exploration activities are provided for participants to determine which best suit their unique needs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="domar_img" style="float: none;display: block;margin-left: auto;margin-right: auto;">
                    <img src="/assets/images/books.png" class="img-fluid" alt="">
                </div>
            </div>
        </div>

        <div class="row align-items-center justify-content-around" style="margin-bottom: 20px">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <div class="domar_img" style="float: none;display: block;margin-left: auto;margin-right: auto;">
                    <img src="/assets/images/ArticleIcon.png" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div style="text-align: center;margin-bottom: 0px;width: 100%;margin: 0 auto">
                    <h5 style="text-align: left;margin-bottom: 10px">Being a volunteer encountering older people’s loneliness and existential loneliness: alleviating loneliness for others and oneself - Malin Sundström, Kerstin Blomqvist, Anna-Karin Edberg</h5>
                    <p class="text-left">The increasing proportion of older people worldwide is challenging society and the healthcare sector to develop new solutions, such as involving volunteers, especially to combat loneliness among older people. This study aimed to describe volunteers' experience of becoming and being a volunteer, and encountering older people's loneliness. Being a volunteer meant being a fellow human being, alleviating loneliness for others and oneself. Becoming a volunteer was a way of finding meaning, and volunteering made the volunteers feel rewarded. The study concluded that volunteering benefitted not only the elders whom the volunteers met, it also enhances the volunteers’ own sense of meaning by alleviating their own loneliness. </p>
                </div>
            </div>
        </div>

    </div>
</section>
<!--		References-->
<div style="margin-bottom: 25px">
    <hr class="style-one">
</div>

<section class="domar_blog blog_v2 section_padding" style="padding:20px">
    <div class="container">
        <div class="row align-items-center justify-content-around">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div style="margin: 5px">
                    <h3 align="center">References</h3>
                </div>
                <div style="text-align: center;margin-bottom: 0px;width: 100%;margin: 0 auto">
                    <p class="text-left">Peplau, L. A., & Perlman, D. (1982). Perspectives on loneliness. In L. A. Peplau, & D. Perlman, Loneliness : a sourcebook of current theory, research, and therapy (pp. 1-18). New York: Wiley.</p>
                    <p class="text-left">Rubenstein, C. M., & Shaver, P. (1982). The experience of loneliness. In L. A. Peplau, & D. Perlman, Loneliness: A sourcebook of current theory, research and therapy (pp. 206-223). New York: Wiley.</p>
                    <p class="text-left">Xie, Y., Kawata, Y., Kamimura, A., & Shibata, N. (2021). Comparison of Causes of Loneliness and Coping Behaviors Among Japanese and Chinese University Student Samples. Juntendo Medical Journal, 46-59.</p>
                </div>
            </div>
        </div>

    </div>
</section>