
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div style="margin:auto">
    <form action="/Home/Login" method="post">
        Username<input type="text" name="username" /><br />
        Passwprd<input type="password" name="pwd" /><br />
        <input type="submit" value="Login" /><br />
    </form>
    </div>
</body>
</html>
